@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;

}

/*ITEM LIST*/
.containerList{
  display: flex;
  justify-content: space-around;
  
}
/*ITEM*/
.cards{
  border: dotted 3px rgb(212, 98, 155);
  padding: 1em;
  height: 422px;
  width: 273px;
}
